body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, red, blue); */

}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    letter-spacing: 2rem;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    letter-spacing: 1rem;

}

h3 {
    text-align: center;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#random {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-weight: 900;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.062);
    margin-top: 100px;
}
